.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 30px;
    padding-left: 10px;
}

.nav-links  {
    color: white;
    text-decoration: none;
}

.nav-right {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}