.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #46494C;
    height: 45px;
    padding-left: 10px;
}

.nav-links  {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-right {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.logout {
    background-color: #1985A1;
    border: none;
    border-radius: 5px;
    height: 25px;
    color: white;
    font-size: 15px;
}

.logout:hover {
    cursor: pointer;
}